.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 70px;
  /* margin-left: -30px; */
  background: linear-gradient(#660066, #6a1b9a, #660066);
}
.navbar__mainHeaderText {
  margin-left: 14px;
  color: #fff;
  letter-spacing: 1.2px;
}
.navbar__rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: none !important;
}
.navbar__link {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  text-decoration: none;
}
.navbar__learnMore {
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar__link:hover {
  color: #33ffcc;
  font-weight: 600 !important;
  transform: scale(1.15);
  transition: transform 0.5s ease;
  cursor: pointer;
}
