.visualDisplay {
  margin-left: 25px;
  margin-right: 25px;
}
.visualDisplay__display {
  display: inline-block;
  margin-top: 2vh;
}
.visualDisplay__bars {
  margin: 0 5px;
  display: inline-block;
  width: 5px;
  background-color: skyblue;
}
.visualDisplay__newArrayButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.visualDisplay__newArrayButton {
  background-color: #ec407a !important;
  color: white !important;
  font-weight: 800 !important;
  width: 11.8%;
}
.visualDisplay__bubbleSortButton {
  background-color: #26a69a !important;
  color: white !important;
  font-weight: 800 !important;
  width: 11.8%;
}
.visualDisplay__selectionSortButton {
  background-color: #fb8c00 !important;
  color: white !important;
  font-weight: 800 !important;
  width: 11.8%;
}
.visualDisplay__insertionSortButton {
  background-color: #3949ab !important;
  color: white !important;
  font-weight: 800 !important;
  width: 11.8%;
}
.visualDisplay__mergeSortButton {
  background-color: #26c6da !important;
  color: white !important;
  font-weight: 800 !important;
  width: 11.8%;
}
.visualDisplay__quickSortButton {
  background-color: #37474f !important;
  color: white !important;
  font-weight: 800 !important;
  width: 11.8%;
}
.red {
  background-color: red !important;
}
.visualDisplay__header {
  display: grid;
  place-items: center;
  padding: 10px;
  font-size: 19px;
  padding-bottom: 5px;
  letter-spacing: 1.2px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
.visualDisplay__headerText2 {
  font-weight: 200;
}
